body {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(https://wallpaper.dog/large/299002.jpg);
}

.box {
    margin-top: 0%;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    font-size: 150%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    color: black;
}

.button_box {
    background-color: rgba(0,35, 75, 0.25);
    margin-top: 0%;
    margin-left: 30%;
    margin-right: 30%;
    border: 1px solid black;
    text-align: center;
    font-size: 150%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: black;
}

table{
    margin: 0%;
    margin-left: 15%;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

td {
    text-align: center;
}

tr{
    background-color: #eee;
}

th[scope="col"] {
    background-color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    font-size: 200%;
}

th[scope="row"] {
    background-color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
    
}

caption {
    padding: 10px;
    caption-side: bottom;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200%;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}